// Colors
$primary-color: rgb(255, 81, 78);
$primary-color-dark: #c33d3b;
$primary-color-light: #ff514ebf;
$secondary-color: rgb(252, 182, 3);
$text-primary-color: rgba(0,0,0,.84);
$text-secondary-color: rgba(0,0,0,.4);